.banner {
    background:#7db58e url(./banner.jpg?width=4000&amp;format=pjpg&amp;) repeat center top;
    background-position:center top;
    height:128px;
    display:block;
    flex-direction:row;
    margin:0 auto; 
    min-width:260px;
    top: 0;
}

.heading {
    font-size: calc(20px + 2vw);
    text-align: center;
    color: #F1F8F1;
    height:128px;
    line-height: 128px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;
}

.heading-text {
    vertical-align:middle;
    line-height:normal;
    display:inline-block;
    color:white;
    text-decoration: none;
}

.heading-text:hover {
    color:#F1F8F1;
    text-decoration: none;
    cursor: pointer;
    /* text-shadow: 1px 1px 1px white; */
    /* font-weight: 500; */
}