.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1E3133;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F1F8F1;
}


/* -------------------- FLIPCARD STYLES --------------------- */

/* create grid for the cards depending on screen size */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
.grid-container {
  width: 90%;
  height: 1060px;
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: right;
  align-items: top;
  justify-content: space-evenly; 
  grid-template-rows: repeat(5, 1fr);
  padding-top: 10px;
  padding-bottom: 10px;

  
}

@media (max-width: 768px) {
  .grid-container {
    max-height: 580px;
  }
}

/* make sure cards fill grid spaces */
.Flipcard-flipper {
  height:100%;
  width:100%;
}

/* card background colour */
.Flipcard-back, 
.Flipcard-front  {
  background-color: #7db58e;
  height:100%;
  width:100%;
}

.flipcard{
  text-align: center;
  height:200px;
  line-height: 200px;
  overflow: hidden;
  vertical-align: middle;
}

.covers {
  display: inline-block;
  height:100%;
  vertical-align: top;
}

.description {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 10px;
  user-select: none; 
  -webkit-touch-callout: none;
}

.goButton {
  display:inline-block;
  margin-top:-6px;
}

.info {
  filter: invert(100%) sepia(0%) saturate(7475%) hue-rotate(137deg) brightness(119%) contrast(90%);
  position: fixed;
  bottom: 8px;
  right: 8px;
}