.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #1E3133;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #F1F8F1;
}

.info {
  filter: invert(100%) sepia(1%) saturate(1958%) hue-rotate(49deg) brightness(99%) contrast(96%);
  position: absolute;
  /* bottom: 10px; */
  top: 0;
  top: 98px;
  right: 84px;
  cursor: pointer;
}

.download {
  filter: invert(100%) sepia(1%) saturate(1958%) hue-rotate(49deg) brightness(99%) contrast(96%);
  position: absolute;
  /* bottom: 84px; */
  top: 98px;
  right: 48px;
}

.help {
  filter: invert(100%) sepia(1%) saturate(1958%) hue-rotate(49deg) brightness(99%) contrast(96%);
  position: absolute;
  /* bottom: 46px; */
  top: 98px;
  right: 12px;
  cursor: pointer;
}

@media (max-width: 760px) {
  .info {
    height: 16px;
    top: 108px;
    right: 56px;
  }

  .download {
    height: 16px;
    top: 108px;
    right: 32px;
  }

  .help {
    height: 16px;
    top: 108px;
    right: 8px;
  }
}

/* -------------------- FLIPCARD STYLES --------------------- */

/* create grid for the cards depending on screen size */
/* https://css-tricks.com/snippets/css/complete-guide-grid/ */
.grid-container {
  width: 90%;
  height: 1060px;
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: right;
  align-items: top;
  justify-content: space-evenly; 
  grid-template-rows: repeat(5, 1fr);
  padding-top: 10px;
  padding-bottom: 10px;
}

/* handle mobile - show 2 card per row for 13 rows */
@media (max-width: 760px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(13, 1fr);
    height:2750px;
  }
}

/* make sure cards fill grid spaces */
.Flipcard-flipper {
  height:100%;
  width:100%;
}

.flipcard_cover {
  height:100%;
  width:100%;
} 

/* card background colour */
.Flipcard-back, 
.Flipcard-front  {
  background-color: #7db58e;
  height:100%;
  width:100%;
  user-select: none;
}

.flipcard{
  text-align: center;
  height:200px;
  line-height: 200px;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;
}

.covers {
  display: inline-block;
  height:100%;
  vertical-align: top;
}

.description {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 10px;
  user-select: none; 
  -webkit-touch-callout: none;
}

/* search button */
.goButton {
  display:inline-block;
  margin-top:-6px;
  background-color: #7db58e;
  border-color: #1E3133;
  color: #F1F8F1;
}

.goButton:hover{
  background-color: #84C485;
  border-color: #1E3133;
}

/* display any text/link elements on same line */
.line {
  display: inline;
}